<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard 2</title>
 
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  
  {{> nav }}

  

  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
            {{> content}}
      </div>
    </section>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>
  </div>
  {{> footer}}
</div>
 
</body>
</html>